
:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 700;

}


.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(./img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    
}



.cabeçalho {
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        }





        
.container {
            display: flex;
            align-items: center;
            }

.container_imagem {
            padding: 1em;
            margin: 1em;
            width: 5em;

                }
 .container_botão:checked ~ .lista-menu {
                    display: block;
                    }
                    
.lista-menu {
 display: inline-block;
 position: absolute;
 top: 100%;
 width: 20vw;
                    }

 .lista-menu__titulo,
 .lista-menu__item {
        padding: 1em;
        background-color: var(--branco);
                    }

.lista-menu__titulo {
                        color: var(--laranja);
                    font-weight: 700;}


                        
.lista-menu__link {
                           background: var(--azul-degrade);
                           -webkit-background-clip: text;
                           -webkit-text-fill-color: transparent;
                           background-clip: text;
                           text-transform: uppercase;
                                       }
.container_botão {
    display: none;
}

.lista-menu {
    display: none;
}

.banner{
    background-color: #d826c0;
    color: #EBECEE;
    text-align: center;
  
}
.banner-titulo{
    font-size: 60px;
    font-weight: 700;
}
.banner-texto{
    font-weight: 500;
    font-size: 40px;
    text-align: justify;
    text-align: center;
}

.banner-pesquisa {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    text-align: center;
    background: url("./img/lupa.svg") no-repeat ;
    background-position: 1em;
    font-size: 20px;
    }





.carrossel__titulo {
        color: var(--laranja);
        background-color: var(--branco);
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        padding: 1em 0 0.5em 0;
        }




        .swiper-slide img{ 
            width: 60%
            
            ;
        }
        .card-descricao{
            display:flex;
            justify-content: space-between;
            margin-bottom: 0,5em;
        }
        .card-botoes{
            display:flex;
            justify-content: space-between;
        }
        .botoes{ 
            display:flex;
        }
        .card{
            background-color: #51e916;
            box-shadow: 5px 10px 10px #a51e0c;
            border-radius: 10px;
            margin: 1em;
            padding: 1em;
          

        }
        .descriçao-titulo
        {
            color: var(--laranja);
            font-weight: 700;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .descricao-texto{
            text-align: center;

        }
     .descriçao-titulo.livro{
      text-align: center;
     }
     .botoes-item{ 
     padding:0,5em 0.5em
     }

.topicos{
    background: rgb(47, 173, 163);
    text-align: center;
    padding: 2em 0;
    margin: 2em;
    }
    .titulo-topicos{
    color: #b9180a;
    font-size: 20px;
font-weight: 300;
padding: 2em;
margin: 6px;
text-align: center;
padding: 3em;
}
.topicos-lita{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.topicos-link{
color: #0f030f;
padding: 2em;
background-color: #3ccab3;
font-size: 14px;
margin: 10px;
border-radius: 15px;
text-align: center;
}
.rodape{
background-color: #51e916;
padding: 2em;
}
    .contato-titulo{
font-size: 2em;
font-weight: 700;
    } 
    .contato-texto{
font-size: 20px ;
font-weight: 500;
    }
    .contato-email{
padding: 1em;
border-radius: 25px;
border: 5px solid var(--azul-degrade);
width: 40%;
color: #d826c0;
background-position: 1em;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
width: 20%;
height: 16px;
margin: auto;
    }